h1, h2, h3, p {
  font-family:helvetica;
}

h1 {
  background-image: url("file:///Users/Jasmine/Dropbox/Development%20Projects/Dasmotos%20Arts%20and%20Crafts/resources/pattern.jpeg");
  font-size:100px;
  font-weight:bold;
  color:khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}
.item h2 {
  color: white;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}
.price {
  font-weight: bold;
  color:blue;
}
