html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px #DCE3E7 solid;
  top: 0px;
  height: 64px;
  width: 100%;
  position: fixed;
  background-color: #FEFEFE;
}
