.container {
  display: flex;


}
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  border: bold black;
  justify-content: flex-end;

}

.navigation {
  color: black;
  border: bold black;

}

.logo {
  border: bold black;
}
