

.container {
  display: flex;

}
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  border: bold black;
}

.navigation {
  text-align: right;
  color: black;
  border: bold black;
}

.logo {
  border: bold black;
}
